<div class="message">
    {% if message.imageName %}
        <div class="message-image">
            <img src="{{message.imageName ? vich_uploader_asset(message) }}"
                 alt="{{ message.imageName }}" loading="lazy">
        </div>
    {% endif %}
    <div class="message-content">
        <div class="message-content-date">
            <p><i class="bi bi-person-fill"></i>{{ message.ipAddress }}</p>
            <p>
                <i class="bi bi-calendar2-week-fill"></i>
                {{ message.createdAt | format_datetime('full', 'short', locale='fr') }}
            </p>
        </div>
        <p class="message-content-text">{{ message.text|striptags|slice(0, 150) }}</p>
    </div>
</div>